.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: var(--border-primary);
  padding: var(--spacing-sm) 0;
}

.header__container {
  max-width: var(--header-max-width);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.header__label {
  font-size: var(--font-size-h3);
  letter-spacing: -1px;
}

.header__nav-list {
  display: flex;
  gap: var(--spacing-xl);
  margin: 0;
  padding: 0;
}

.header__nav-list-item {
  font-size: var(--font-size-small);
  font-weight: 500;
  color: var(--color-text-secondary);
}

.header__burger-btn {
  display: none;
  width: 24px;
  height: 24px;
}

.header__burger-line {
  width: 100%;
  height: 2px;
  background-color: var(--color-text-primary);
  margin-bottom: 4px;
}

@media (max-width: 768px) {
  .header__nav-list {
    display: none;
  }

  .header__burger-btn {
    display: block;
    position: relative;
    transition: transform 0.3s ease;
  }
}

.header.active {
  background-color: var(--color-black);
}

.header.active .header__burger-line {
  position: absolute;
  /* top: 50%; */
}

.header.active .header__burger-line:first-child {
  transform: rotate(45deg);
}

.header.active .header__burger-line:last-child {
  transform: rotate(-45deg);
}

.header.active .header__burger-line:nth-child(2) {
  opacity: 0;
}

.header.active .header__nav-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-black);
  border-top: var(--border-primary);
  height: 100dvh;
  text-align: center;
  gap: var(--spacing-sm);
  padding-top: 50px;

  overflow: hidden;
}

.header.active .header__nav-list-item {
  font-size: var(--font-size-h3);
}
