.projects__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 368px));
  gap: var(--spacing-md);
  justify-content: center;
}

@media (max-width: 800px) {
  .projects__cards {
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 368px)); */
    gap: var(--spacing-xl);
    /* justify-content: center; */
  }
}
